* {
   box-sizing: border-box;
}

html, body {
   height: 100%;
}

body {
   display: flex;
   align-items: center;
   justify-content: center;
   background: linear-gradient(116.84deg, #B68568 8.57%, #787772 41.76%, #787772 69.72%, #5E5A58 111.64%);
}

form {
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 400px;
   width: 100%;
}

input, button {
   margin-bottom: 10px;
   display: inline-block;
   padding: 7px 14px;
   outline: none;
   border-radius: 10px;
   border: none;
   font-size: 16px;
   width: 100%;
}

button {
   margin-top: 15px;
   max-width: 100px;
   width: 100%;
}

